build/
out/

bin/
lib/
*.exe
*.dll
*.so
*.dylib
*.a
*.lib

CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
Makefile

.vs/
.vscode/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

Thumbs.db
ehthumbs.db
Desktop.ini

.DS_Store
.AppleDouble
.LSOverride